header {
  position: fixed;
  width: 100%;
  display: flex;
  color: rgb(240,240,240);
  z-index:3;
  height: 50px;
}

header nav {
  margin-left: auto;
}

header h1 {
}

header li {
  padding-right: 40px;
  margin: auto 0;
}

header ul {
  display: flex;
  height: 100%;
}

.transparent {
  background-color: transparent;
}

.colored {
  background-color: black;
}

header a {
  transition: all .2s ease-in-out;
}
header a:visited {
  color: rgb(240,240,240);
}

header a:hover {
  cursor: pointer;
  color: turquoise;
}

header h4 {
  text-shadow: 1px 1px black;
}
header h1 {
  margin: auto 0;
  padding-left: 20px;
  font-size: 29px;
}
header h1, header h4 {
  transition: all .1s ease-in-out;
}
header h1:hover, header h4:hover {
  transform: scale(1.02);
}
